*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.chat{
	width: 600px;
	margin: 50px auto;
	justify-content: center;
	&__window{
		margin: 0 0 20px;
		background: #DEEFF9;
		border-radius: 4px;
		padding: 20px;
		.question{
			text-align: left;
			font-size: 20px;
			margin: 0 0 20px;
			p{
				display: inline-block;
				padding: 10px;
				border-radius: 5px;
				background: #BBD8F1;
				margin: 0;
			}

		}
		.answer{
			text-align: right;
			p{
				font-size: 20px;
				display: inline-block;
				padding: 10px;
				border-radius: 5px;
				background: #F1C0BB;
				margin: 0;
			}

		}
		> p{
			font-size: 30px;
			text-align: center;
			color: grey;
			margin: 0;
		}
	}

	&__textarea{
		textarea{
			margin: 0 0 20px;
		}
	}
	.photo{
		margin: 0 auto 20px;
		text-align: center;
		img{
			display: block;
			margin: 0 auto;
			max-height: 217px;
		}
	}
}

.btn{font-size: 30px;}
